.general-help-block {
    color: $pale-orange;
    font-weight: 800;
    margin-left: 10px;
    margin-bottom: 6px;
}

.modal-content form fieldset {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.3em 0.6em 0 0.6em;
    margin-bottom: 0;
}