body {
    @include default-font;
}

.container {
    @include outer-container;
}

.align-middle {
    vertical-align: middle;
}
.always-show {
    display: block !important;
}

a:hover {
    text-decoration: none;
}

.alert {
    background: none;
    padding: 0.83em 1em;
    .close {
        @include align-right;
        padding: 0;
        background: none;
        font-size: 1.4em;
    }
}

.alert-success {
    background-color: $green;
    color: white;
    font-weight: bold;
}

.alert-info {
    background-color: $light-blue;
    color: white;
    font-weight: bold;
}
.alert-warning {
    background-color: $pale-orange;
    color: white;
    font-weight: bold;
}

.alert-danger {
    background-color: $dark-red;
    color: white;
    font-weight: bold;
}