// GENERAL

@mixin button($color, $hovercolor: false) {
    @include header-font(1em, bolder);
    color: white;
    line-height: 1em;
    display: inline-block;
    /*-webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;*/
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;

    //border-color: $color;
    border: none;
    padding: 0.70em 1em;

    background-color: $color;

    &:focus {
        text-decoration: none;
    }

    &:hover {
        @if $hovercolor {
            background-color: $hovercolor;
        } @else {
            background-color: lighten($color, 6%);
        }
    }
}

@mixin text-border($color: white, $size: 1px) {
    $semi-size: $size / 2;

    text-shadow: $size 0 0 $color, -$size 0 0 $color, 0 $size 0 $color, 0 (0-$size) 0 $color, $semi-size $semi-size $color, -$semi-size -$semi-size 0 $color, $semi-size -$semi-size 0 $color, -$semi-size $semi-size 0 $color;
}

@mixin align-right {
    float: right;
    text-align: right;
}

@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin list-inline($separator: false) {
    margin: 5px 0;
    letter-spacing  :-4px;

    & > li {
        display: inline-block;
        letter-spacing: 0px;
        padding: 5px 16px;

        @if $separator {
            background-image: url(base-path($separator));
            background-position: right;
            background-repeat: no-repeat;
            padding-left: 11px;
        }

    }

    & > li:last-child {
        padding-right: 0;

        @if $separator {
            background-image: none;
        }
    }
}


@mixin bubble-block($arrow-offset: 33px) {
    background-color: white;
    border: 1px solid $grey;
    border-radius: 5px;
    position: relative;

    &:before {
        content: "";
        background-image: url(base-path("images/misc/bubble-arrow.png"));
        background-repeat: no-repeat;
        position: absolute;
        width: 8px;
        height: 17px;
        top: $arrow-offset;
        left: -7px;
    }
}

// SPECIFIC


@mixin comment-block {
    float: left;
    width: 100%;
    background-color: $medium-light-grey;
    border-top: 1px solid $border-light;
    //margin-top: 0.83em;

    & > li {
        display: block;
        float: left;
        width: 100%;
        padding: 0.63em 0.63em 0.5em 0.69em;
        border-bottom: 1px solid $border-light;
    }

    .user {
        .user-picture {
            @include span-columns(1 of 12);
            @include omega();
            margin-right: 0.83em;
            width: 40px;
            height: 40px;
        }
        .user-info {
            @include span-columns(11 of 12);
            @include omega();
            position: relative;
            top: -3px;

            .name {
                color: $dark-green;
                font-size: 1em;
                font-weight: 800;
                line-height: 1em;
                margin-top: -5px;
            }

            .level-of-play {
                color: $grey-green;
                font-weight: bold;
                font-size: 0.8em;
                font-style: italic;
                vertical-align: middle;
                margin-left: 10px;
                margin-top: -2px;
                display: inline-block;
            }
        }
    }

    .comment-content {
        @include span-columns(11 of 12);
        @include omega();
        margin-bottom: 0.2em;

        p {
            margin-bottom: 0.6em;
        }
    }

    .comment-tools {
        clear: both;
        line-height: 1em;

        .time {
            color: darken($light-grey, 7%);
            font-style: italic;
            font-size: 0.9em;
        }

        .comment-votes {
            display: inline-block;
            position: relative;
            top: -2px;

            color: $light-green;

            .icon {
                vertical-align: top;
                margin-top: -2px;
            }
            .icon-text {
                font-size: 1.1em;
            }
        }

        .comment-edit {
            .icon {
                width: 20px;
                height: 20px;
            }
            .icon-text {
                color: $green;
            }

            &:hover .icon-text {
                color: darken($green, 10%);
            }
        }

        .comment-remove {
            cursor: pointer;

            .icon-component { cursor: pointer; }
            .icon, .icon-text {
                color: $pale-orange;
            }

            &:hover {
                .icon, .icon-text {
                    color: $orange;
                }
            }
        }
    }

    .comment-input {
        @include outer-container();

        .picture-container {
            @include span-columns(1 of 12);            
            @include omega();
            margin-right: 0.73em;
        }
        .user-picture {
            margin-right: 1em;
            margin-top: 0;
            margin-left: 3px;
            max-width: 50px;
        }

        .comment-area {
            @include span-columns(11 of 12);
            @include omega();
            width: 92.3%;
            position: relative;

            .active {
                textarea {
                    padding-bottom: 1.2em;
                }
            }
        }
    }
}

@mixin user-block {
    margin-right: 0.8em;

    .user-picture {
        @include span-columns(1 of 2);
        @include omega();

        width: 68px;
    }

    .user-info {
        float: left;
        width: 80px;
        text-align: center;
        padding-top: 5px;
        padding-left: 10px;

        .name {
            display: block;
            margin: 0 auto;
            max-width: 80px;
            min-width: 80px;

            color: $dark-green;
            font-size: 1.2em;
            font-weight: 800;
            line-height: 1em;
            word-wrap: break-word;
        }

        .level-of-play {
            margin: 0 auto;
            color: $grey-green;
            font-weight: bold;
            font-size: 0.8em;
            font-style: italic;
        }
    }


}