<template name="Comment">
  <li id="comment-{{ _id }}">
    {{ #with user }}
      <div class="user-information">
        <img {{ profile.avatar }}>
        {{ username }}
        {{ > userMeta profile }}
      </div>
    {{ /with }}
    <div class="comments-content">
      {{ #if isEditing }}
        {{ > RiseTextarea content=content class="edit-comment-content form-control" focus=true }}
        <button class="save-comment-edit">Save</button>
      {{ else }}
        {{ content }}
      {{ /if }}

      {{ #isOwnerOf this }}
        <button class="toggle-comment-edit">
          {{ #if isEditing }}
            Cancel
          {{ else }}
            Edit
          {{ /if }}
        </button>
      {{ /isOwnerOf }}

      <div class="comment-votes">
        {{ votes }}
        {{ #isNotOwnerOf this }}
          <button class="toggle-comment-vote">Vote</button>
        {{ /isNotOwnerOf }}
      </div>

    </div>
  </li>
</template>
