<template name="AnalysesView">
  {{ #isNotOwnerOf this }}
    {{ #if currentUserAnalysis }}
      <h2 id="rise-current-analysis">My analysis</h2>
      {{ > AnalysisShow currentUserAnalysis }}
    {{ else }}
      {{#momentum plugin='slide-height'}}
        {{ #if isAnalyzing }}
          <h2 id="rise-current-analysis">My analysis</h2>
          {{ > NewAnalysis }}
        {{ /if }}
      {{/momentum}}
    {{ /if }}
  {{ /isNotOwnerOf }}

  {{ #if hasAnalyses }}
    {{ #if hasAnalysisPermalink }}
      <h2>Analysis</h2>
      {{ > AnalysisShow linkedAnalysis }}
    {{ else }}
      <h2>Latest analyses</h2>
      {{ #each analyses }}
        {{ > AnalysisShow }}
      {{ /each }}
    {{ /if }}
  {{ /if }}
</template>
