<template name="AnalysisShow">
  <div class="rise-analysis">
    <div class="analysis-user-information">
      {{ #with user }}
        <img {{ profile.avatar }}>
        <h3>{{ username }}</h3>
        {{ > userMeta profile }}
      {{ /with }}
    </div>

    <div class="analysis-votes">
      {{ votes }}
      {{ #isNotOwnerOf this }}
        <button class="toggle-analysis-vote">Vote</button>
      {{ /isNotOwnerOf }}
    </div>

    {{ #isOwnerOf this }}
      {{ #unless isEditing }}
        <button class="edit-analysis">Edit</button>
      {{ /unless }}
    {{ /isOwnerOf}}

    {{ #if isEditing }}
      {{ > EditAnalysis this }}
    {{ else }}
      <h4>General comment</h4>
      {{ #with general_note }}
        {{ content }}
        {{ #momentum plugin="slide-height" }}
        {{ #if expanded }}
          <div class="rise-comments">
            {{ > Comments this }}
            {{ > NewCommentForm }}
          </div>
        {{ /if }}
        {{ /momentum }}
      {{ /with }}

      {{ #momentum plugin="slide-height" }}
      {{ #if expanded }}
        <h4>Timeline entries</h4>
        {{ #each timeline_entries }}
          <ul>
            <li>Time: {{ time }}</li>
            <li>{{ content }}</li>
            <li>
              <div class="rise-comments">
                {{ > Comments this }}
                {{ > NewCommentForm }}
              </div>
            </li>
          </ul>
        {{ /each }}
      {{ /if }}
      {{/momentum}}
      <div class="expand-collapse-button">
        <button class="toggle-expansion">{{ toggleExpansionText }}</button>
      </div>
    {{ /if }}
  </div>
</template>
