<template name="AnalysesView">
  <section class="analyses">
  {{ #isNotOwnerOf this }}
    {{ #if currentUserAnalysis }}
      <h3 class="analyses-title">My analysis</h3>
      {{ > AnalysisShow currentUserAnalysis }}
    {{ else }}
      {{#momentum plugin='slide-height'}}
        {{ #if isAnalyzing }}
          <h3 class="analyses-title">My analysis</h3>
          {{ > NewAnalysis }}
        {{ /if }}
      {{/momentum}}
    {{ /if }}
  {{ /isNotOwnerOf }}

  {{ #if hasAnalyses }}
    {{ #if hasAnalysisPermalink }}
      <h3 class="analyses-title">Analysis</h3>
      {{ > AnalysisShow linkedAnalysis }}
    {{ else }}
      <h3 class="analyses-title">Latest analyses</h3>
      {{ #each analyses }}
        {{ > AnalysisShow this }}
      {{ /each }}
    {{ /if }}
  {{ /if }}
  </section> <!-- .analyses -->
</template>
