<template name="NewAnalysis">
  <div class="rise-new-analysis-container">
    <div class="analysis">
      <div class="analysis-info">
        <div class="analysis-user-information user">
          {{ #with currentUser }}
            <img class="user-picture" src="/images/misc/mockup/spazie1.jpg">
            <!--img {{ profile.avatar }}-->
            <div class="user-info">
              <span class="name">{{ username }}</span>
              {{ > userMeta profile }}
            </div>
          {{ /with }}
        </div>
      </div>

      <div class="new-analysis-form-container analysis-content">
        {{ #autoForm collection="Rise.Analyses" id="analysis-new-form" class="analysis-form" type="insert" resetOnSuccess=false }}
          <fieldset>
            {{> afQuickField name='general_note.content' label="General note" }}
            {{> afArrayField name='timeline_entries' template="TimeLineEntriesFields" }}
          </fieldset>
          <input type="submit" class="publish-analysis" value="Post">
        {{ /autoForm }}
      </div>
    </div>
  </div>
</template>
