<template name="signInForm">
  {{ #autoForm schema="Rise.Schemas.Form.Register" id="user-auth-form" type="method" meteormethod="user-auth:register" }}
    <fieldset>
      <legend>Create an account</legend>
      {{> afQuickField name='username' }}
      {{> afQuickFields name='meta_information' }}
      {{> afQuickField name='email' label='Email' }}
      {{> afQuickField name='password' }}
      {{> afQuickField name='passwordConfirmation' }}
    </fieldset>
    <input type="submit" class="hide">
  {{ /autoForm }}
</template>
