@mixin icon($name) {
    $name: "images/icons/icon-" + $name;
    background-image: url(base-path($name) + ".png");
}

.icon-component {
    cursor: pointer;
    position: relative;

    & > .icon-text {
        display: inline-block;
    }

    .explanation {
        padding: 7px 10px;
    }

    .icon-text {
        vertical-align: middle;
        margin-top: 3px;
        display: inline-block;
    }
}

.icon-component.type-text {
    font-size: 1.4em;
    cursor: default;

    .icon-text {
        font-size: 0.7em;
        margin-left: 5px;
    }

    &.has-text .icon {
        vertical-align: middle;
        margin-top: 5px;
        display: inline-block;
    }

    .tick { color: $light-green; font-size: 1.2em; margin-top: -2px;}
    .bang { font-weight: bold; color: $pale-orange; font-family: monospace; font-size: 1.2em; }
    .cross { color: $pale-orange; margin-bottom: 3px; }
}
// Base icons 

.icon-component.type-base {
    .icon {
        margin-right: 5px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        display: inline-block;
        width: 22px;
        height: 22px;
        vertical-align: middle;
    }

    .icon-pin { @include icon("pin"); width: 21px; height: 19px; }
    .icon-book { @include icon("book"); width: 22px; height: 21px; }
    .icon-medias { @include icon("medias"); width: 22px; height: 21px; }

    .icon-edit-green { @include icon("edit-green"); }
    .icon-gold-5 { @include icon("gold-5"); }
    .icon-kda { @include icon("kda"); width: 25px; height: 20px; }
    .icon-notification { @include icon("notification"); width: 30px; height: 30px; }
    .icon-notification-black {
        @include icon("notification-black"); width: 30px; height: 30px;
        &.small { width: 20px; height: 20px; background-size: 20px; }
    }
    .icon-report { @include icon("report"); }
    .icon-thumb { @include icon("thumb"); }
    .icon-thumb:hover, .icon-thumb.active { @include icon("thumb-active"); }
    .icon-thumb.active:hover { @include icon("thumb"); }
    .icon-thumb.enabled, .icon-thumb.enabled:hover { @include icon("thumb-active"); cursor: default; }

    .icon-big-feather { @include icon("big-feather"); width: 30px; height: 30px; }

    .icon-double-arrow { @include icon("double-arrow"); }
    .icon-double-arrow.up { @include transform(scale(0.9) rotate(-180deg)); }
    .icon-double-arrow.right { float: right; }

    .icon-enter-blue { @include icon("enter"); }
    .icon-enter-green { @include icon("enter-green"); }
    .icon-shift-enter-blue { @include icon("shift-enter"); width: 66px; height: 22px; }
    .icon-shift-enter-green { @include icon("shift-enter-green"); width: 66px; height: 22px; }
    .icon-info { @include icon("info"); }
    .icon-info-blue { @include icon("info-blue"); }
    .icon-info-green { @include icon("info-green"); }

    .icon-time { @include icon("time"); }
    .icon-big-thumb { @include icon("big-thumb"); width: 36px; height: 43px; }
    .icon-big-thumb:hover, icon-big-thumb.active { @include icon("big-thumb-active"); width: 36px; height: 43px; }
    .icon-download { @include icon("download-green"); }
    .icon-feather { @include icon("feather"); }
    .icon-more { @include icon("more"); width: 42px; height: 18px; }
    .icon-less { @include icon("more"); width: 42px; height: 18px; opacity: 0.5; }
    .icon-report-green { @include icon("report-green"); }
    .icon-thumb-green { @include icon("thumb-green"); }
}