<template name="ReplayView">
  <header class="replay-header">
    <h2 class="replay-title">
      {{ > ReplayGeneralMeta meta_information.general }}
    </h2>
    <h3 class="replay-result">
      {{ victory }}
    </h3>
  </header>

  <div class="content">
    <section class="replay">
      <div class="rise-replay-container replay-player">
        {{ > RisePlayer video_id }}
      </div>

      <section class="replay-info">
        {{ #with user }}
          <div class="user">
            <!--img class="user-picture" src="{{ profile.avatar }}"-->
            <img class="user-picture" src="/images/misc/mockup/ascensionfull.jpg">

            <div class="user-info">
              <span class="name">{{ username }}</span>
              {{ > userMeta profile }}
            </div>
          </div>
        {{ /with }}

        <div class="replay-description">
          <span class="description slideDown closed">
            {{ description }}
          </span>
          {{ #if shortDescription }} <!-- Bit useless -->
            <span class="more">
              <i class="icon icon-more"></i>
            </span>
          {{ else }}
            <span class="less">
              <i class="icon icon-more"></i> <!-- Todo should be icon-less -->
            </span>
          {{ /if }}
        </div>

        <ul class="game-data">
          <li class="length">
            <i class="icon icon-time"></i> {{duration}}
          </li>
          {{ > ReplaySpecificMeta meta_information.specific }}
          <li class="patch">
            <i class="icon icon-info"></i> {{patch}}
          </li>
        </ul>
      </section>

      <section class="replay-tools">
        <ul class="replay-menu">
          {{ #if replay_file }}
            <li>
              <a href="{{ replay_file }}">
                <i class="icon icon-download"></i><span class="icon-text">Download LPR File</span>
              </a>
            </li>
          {{/if}}
          <li>
            <a href="#">
              <i class="icon icon-report-green"></i><span class="icon-text">Report this replay</span>
            </a>
          </li>
          {{ #isOwnerOf this }}
            <li>
              <a href="#" class="edit-replay">
                <i class="icon icon-edit-green"></i><span class="icon-text">Edit your replay</span>
              </a>
            </li>
          {{ /isOwnerOf }}
        </ul>

        {{ #if currentUser }}
          {{ #isNotOwnerOf this }}
            {{ #if $or isAnalyzing isEditing }}
              <button class="call-to-action edit-general-note">
                <i class="icon icon-feather"></i>
                <span class="icon-text">Add a general note</span>
              </button>
              <button class="call-to-action add-timeline-entry">
                <i class="icon icon-feather"></i>
                <span class="icon-text">Add an entry to timeline</span>
              </button>
            {{ else }}
              {{ #if currentUserAnalysis }}
                <button class="call-to-action edit-analysis">
                  <i class="icon icon-feather"></i>
                  <span class="icon-text">Improve your analysis !</span>
                </button>
              {{ else }}
                <button class="call-to-action start-analysis">
                  <i class="icon icon-feather"></i>
                  <span class="icon-text">Advise this fellow !</span>
                </button>
              {{ /if }}
            {{ /if }}
          {{ /isNotOwnerOf }}
        {{ else }}
          <button class="call-to-action redirect-to-login">
            <i class="icon icon-feather"></i>
            <span class="icon-text">Advise this fellow !</span>
          </button>
        {{ /if }}

      </section> <!-- .replay-tools -->
    </section> <!-- .replay -->

    {{ > AnalysesView this }}
  </div> <!-- .content -->
</template>
