<template name="ReplayForm">
  {{ #autoForm collection="Rise.Replays" id=formId doc=replay type=type}}
    <div class="form-line two with-separators">
      <div class="video">
        {{> afQuickField name='video_id' label="Video URL" class="video-id"}}
        {{> render component="spinner" while=checkingVideoExists}}
        {{> render component="icon" icon="tick" explanation="Your video link is valid ;)" when=videoValid }}
        {{> render component="icon" icon="cross" explanation="Video could not be found :(" when=videoNotValid }}
      </div>
      <span class="separator"></span>
      <div class="outcome">
        <span class="label">Game outcome</span>
        {{# render component="switch" on="Victory" off="Defeat" }}
          {{> afQuickField name='victory' }}
        {{ /render }}
      </div>
    </div>

    <div class="form-line two with-separators">
      <div class="player">
        {{> afAutocomplete name='meta_information.general.champion' options=gameCharacters withPictures=true pictureHandler="Rise.Game.characterPicture" }}
      </div>
      <span class="separator">VS</span>
      <div class="matchup">
        {{> afAutocomplete name='meta_information.general.matchup' options=gameCharacters withPictures=true pictureHandler="Rise.Game.characterPicture" }}
      </div>
    </div>

    <div class="form-line four with-separators">
      <div class="lane">
        {{> afAutocomplete name='meta_information.general.lane' options=gameLanes placeholder="Mid" }}
      </div>
      <span class="separator"></span>
      {{> afFormGroup name='meta_information.specific.kda' placeholder="4/2/13" }}
      <span class="separator"></span>
      {{> afQuickField name='duration' placeholder="23:14" }}
      <span class="separator"></span>
      {{> afQuickField name='patch' placeholder="5.14" }}
    </div>

    <div class="description">
      {{> afQuickField name='description' full=true theme='green' submit=false }}
    </div>

    <div class="replay-upload large-input">
      {{ #if replay.replay_file }}
        {{ replay.replay_file }}
      {{ /if }}
      {{> afQuickField name='replay_file' value='' }}
    </div>
  {{ /autoForm }}
</template>
