<template name="NewCommentForm">
  {{ #if $not currentUser }}
    <li class="new-comment comment-input">
      <img class="user-picture" src="/assets/images/misc/mockup/ascensionfull.jpg">
      <div class="comment-area {{ active }}">
        {{ #autoForm collection="Rise.Comments" id=formId type="insert" }}
          <div class="comment-field">

            {{> afFieldInput name='parent_type' label=false type="hidden" value=type }}
            {{> afFieldInput name='content' label=false placeholder="Share your thoughts" }}
            <span class="comment-submit feather post-comment">
              <i class="icon icon-big-feather"></i>
            </span>
          </div>

          {{ #if active }}
            <ul class="help">
              <li>
                <span class="icon-text help-title">Help :</span><i class="icon icon-shift-enter"></i><span class="icon-text">New line</span>
              </li>
              <li>
                <i class="icon icon-enter"></i><span class="icon-text">Submit</span>
              </li>
              <li>
                <i class="icon icon-info-blue"></i><span class="icon-text">Formatting help</span>
              </li>
            </ul>
          {{ /if }}
        {{ /autoForm }}
      </div>
    </li>
  {{ /if }}
</template>
