/* # SUMMARY (Use search ;))

    = MODAL
    = FORM
*/

/* = MODAL */

#new-replay-modal {
    .modal-footer {
        border: none;
        padding-top: 0;
    }
}

/* = FORM */
#replay-new-form {
    @include outer-container;

    .form-line, .form-group {
        @include span-columns(12);
        margin-bottom: 0;
    }

    .form-line {
        .form-group {
            @include span-columns(4 of 12);
        }
        &.full .form-group {
            @include span-columns(12 of 12);
        }

        &.with-separators {
            .form-group {
                @include span-columns(3.5 of 12);
                @include omega();
            }

            .separator {
                @include span-columns(1 of 12);
                padding-top: 35px;
                text-align: center;
            }

            input {
                width: 92.5%;
            }
        }

    }

    .description .form-group {
        margin: 8px 0 12px 0;
    }

    .video {
        @include span-columns(7.5 of 12);
    }
    .outcome {
        @include span-columns(3.5 of 12);
        margin-left: 8.1%;
        margin-bottom: 12px;

        .label {
            font-weight: bold;
            @include span-columns(12 of 12);
        }
        .form-group {
            @include span-columns(12 of 12);
            margin-top: 12px;

            .checkbox {
                margin: 1px 0 0 0;
            }
        }
    }

    .replay-upload {
        label { margin-bottom: 0.6em; }
    }
}