/* # SUMMARY (Use search ;))

    = MODAL
    = FORM
*/

/* = MODAL */

#new-replay-modal, #edit-replay-modal {
    .modal-footer {
        border: none;
        padding-top: 0;
    }
}

/* = FORM */
#replay-new-form, #replay-edit-form {
    @include outer-container;

    .form-line, .form-group {
        @include span-columns(12);
        margin-bottom: 0;

        label {
            padding-left: 2px;
        }
    }

    .form-line {
        .form-group {
            @include span-columns(4 of 12);
        }
        &.full .form-group {
            @include span-columns(12 of 12);
        }

        &.with-separators {
            .form-group {
                @include span-columns(3.5 of 12);
                @include omega();
            }
            .separator {
                @include span-columns(1 of 12);
                @include omega();

                padding-top: 35px;
                text-align: center;
            }

            &.two .form-group {
                float: left;
                width: 45%;
            }
            &.two > div:last-child .form-group {
                float: right;
                margin-right: 0;
            }

            &.two .separator {
                float: left;
                width: 10%;
                margin: 0;
            }

            &.four .form-group {
                @include span-columns(2.38);
                @include omega();
            }

            &.four .separator {
                @include span-columns(1.1 of 12);
            }


            input {
                //width: 92.5%;
            }
        }

    }

    .video {
        position: relative;
        float: left;
        width: 45%;
        input {
            padding-right: 2.45em;
        }

        .form-group {
            width: 100% !important;
        }

        .icon-component {
            position: absolute;
            bottom: 10.5%;
            right: 8px;
        }

        .spinner-loader {
            left: initial;
            top: initial;
            bottom: 20%;
            right: 5px;
            border-width: 0.35em;

            &, &:after {
                width: 2.5em;
                height: 2.5em;
            }
        }
    }
    .description .form-group {
        margin: 8px 0 12px 0;
    }

    .outcome {
        float: left;
        width: 45%;
//        margin-left: 8.1%;
        margin-bottom: 12px;

        .label {
            font-weight: bold;
            @include span-columns(12 of 12);
            margin-bottom: 9px;
        }
        .form-group {
            float: left !important;
            margin-top: 12px;

            .checkbox {
                margin: 1px 0 0 0;
            }
        }
    }

    .replay-upload {
        label { margin-bottom: 0.6em; }
    }
}