<template name="ProfileNavbar">
  <div class="profile-nav">
    <div class="profile-navbar-header">
      <img class="navbar-avatar" src="{{identicon _id}}">
      <h2 class="navbar-title">{{ username }}</h2>
    </div>
    <div class="list-group">
      <a href="#" class="list-group-item profile-goto {{ isActive 'dashboard' }}" data-goto="dashboard">
        <h4 class="list-group-item-heading"><i class="fa fa-laptop"></i> Dashboard</h4>
        <p class="list-group-item-text">Consult your profile</p>
      </a>
      <a href="#" class="list-group-item profile-goto {{ isActive 'settings' }}" data-goto="settings">
        <h4 class="list-group-item-heading"><i class="fa fa-cogs"></i> Settings</h4>
        <p class="list-group-item-text">Manage your account</p>
      </a>
      <a href="#" class="list-group-item profile-goto {{ isActive 'privacy' }}" data-goto="privacy">
        <h4 class="list-group-item-heading"><i class="fa fa-paper-plane-o"></i> Privacy</h4>
        <p class="list-group-item-text">Manage your privacy</p>
      </a>
    </div>
  </div>
</template>
