<template name="UserProfile">
  <div class="modal" id="user-profile-container">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close close-modal" aria-label="Close">x</button>
          {{ #if isCurrentUser }}
            {{ > ProfileNavbar }}
          {{ /if }}
          <div class="user-profile-content {{ #if isCurrentUser }}profile-with-navbar{{ /if }}">
            {{ > Template.dynamic template=profileState data=this}}
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</template>
