<template name="UserDashboard">
  <div class="user-dashboard">
    <div class="dashboard-header">
      <img class="avatar" src="{{identicon _id}}">
      <div class="user-header-info">
        <h2 class="username">{{ username }}</h2>
        <h3 class="level-of-play"><em>{{ profile.level_of_play }}</em></h3>
      </div>
    </div>

    <div class="panel user-rise-progression">
      <div class="progression-data">
        <div class="rank">Rank <strong>0</strong></div>
        <span class="life-points"><strong> {{ life_points }} </strong> Points</span>
      </div>
      <div class="points-progress-bar">
        <span style="width: 40%"></span>
      </div>
    </div>

    <div class="panel left">
      <h3>Recent replays</h3>
      <ul class="user-dashboard-list replay-list">
        {{ #each replays }}
          <li>
            <a href={{pathFor route="replay-show"}}>
              <span class="meta-info">
                {{ > UserDashboardReplayMeta meta_information.general }}
              </span>
              <span class="replay-stats">
                <span class="glyphicon glyphicon-comment"></span>
                <strong>{{ analysesCount }}</strong> analyses
              </span>
              <span class="time-ago">
                {{ TimeAgoInWords this }}
              </span>
            </a>
          </li>
        {{ /each }}
      </ul>
    </div>

    <div class="panel right">
      <h3>Recent analyses</h3>
      <ul class="user-dashboard-list analyses-list">
        {{ #each analyses }}
          <li>
            <a href={{pathFor route="analysis-show" data=permalinkData}}>
              {{ #with replay }}
                <span class="meta-info">
                  {{ > UserDashboardReplayMeta meta_information.general }}
                </span>
               {{ /with }}
              <span class="analysis-stats">
                <span class="glyphicon glyphicon-comment"></span>
                <strong>{{ commentsCountFor this }}</strong> comments
              </span>
              <span class="time-ago">
                {{ TimeAgoInWords this }}
              </span>
            </a>
          </li>
        {{ /each }}
      </ul>
    </div>
  </div>
</template>
