<template name="UserAuthForm">
  <div class="general-help-block has-error">
    {{ errors }}
  </div>
  {{ #if forgotPassword }}
    {{ > UserAuthForgotPasswordForm }}
  {{ else }}
    {{ #if registration }}
      {{ #autoForm schema="Rise.Schemas.Forms.Register" id="user-auth-form" }}
        <fieldset>
          {{> afQuickField name='username' }}
          {{> afQuickField name='IGN' label='IGN (in game name)' }}
          {{> afQuickField name='level_of_play' label='League' }}
          {{> afQuickField name='email' label='Email' }}
          {{> afQuickField name='password' }}
          {{> afQuickField name='passwordConfirmation' }}
        </fieldset>
        <input type="submit" class="hide">
      {{ /autoForm }}

      <div class="user-auth-tools">
        <a href="#" class="toggle-registration">
          Already have an account ? Sign in !
        </a>
        <a href="#" class="toggle-forgot-password">
          Forgot your password ?
        </a>
      </div>
    {{ else }} <!-- If not in registration mode -->
      <form id="user-auth-form" class="login-form">
        <fieldset>
          <div class="form-group">
            <label class="control-label">Username or Email</label>
            <input type="text" name="username" class="form-control" required>
            <span class="help-block"></span>
          </div>
          <div class="form-group">
            <label class="control-label">Password</label>
            <input type="password" name="password" class="form-control" required>
            <span class="help-block"></span>
          </div>

          <input type="submit" class="hide">
        </fieldset>
      </form>
      <div class="user-auth-tools">
        <a href="#" class="toggle-registration">
          Don't have an account ? Create one !
        </a>
        <a href="#" class="toggle-forgot-password">
          Forgot your password ?
        </a>
      </div>
    {{ /if }}
  {{/if}}
</template>
