@import "{rise:core}/style/core/base";
@import "{rise:core}/style/rise/base";

.modal-dialog {
    @include outer-container();

    color: $almost-black;

    margin-top: 55px;
    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 200px white inset;
    }
}

.modal-content {
    @include span-columns(12);
    background-image: url(base-path("images/textures/dark-texture-collapsed.png"));
    background-repeat: repeat;

    .modal-header {
        @include span-columns(12 of 12);
        margin: 0;
        padding: 0.83em;
        background-color: $almost-black;

        .modal-title {
            @include header-font(1em, bold);
            @include span-columns(11 of 12);
            color: $almost-white;
        }

        .close {
            @include span-columns(1 of 12);
            @include align-right;
            @include omega;

            font-size: 1.4em;
            background: none;
            padding: 0;
        }
    }

    .modal-body {
        @include span-columns(12 of 12);
    }

    .modal-footer {
        @include span-columns(12 of 12);
        .btn {
            margin-left: 0.33em;
        }
    }
}
