@import "{rise:core}/style/core/base";
@import "{rise:core}/style/rise/base";

$border-color: $light-blue;
$color: $light-blue;
$border-color: $light-green;
$color: $light-green;

@mixin smart-area {
    .smart-area {
        @include span-columns(11);

        &.full {
            @include span-columns(12);
        }

        position: relative;

        &.active {
            .area-field textarea {
                height: 80px;
                padding-bottom: 28px;
            }

            .area-field .comment-submit {
                bottom: 35px;
            }
        }

        .area-field {
            @include span-columns(11 of 11);
            //position: relative;

            textarea {
                @include span-columns(11 of 11);
                @include omega();
                height: 50px;
                padding-right: 50px;
                padding-bottom: 15px;
                overflow: hidden;

                &:focus {
                    border-color: $border-color;
                }
            }

            .comment-submit {
                @include span-columns(1 of 11);
                cursor: pointer;

                padding: 10px;
                margin: 5px;
                position: absolute;
                right: 5px;
                bottom: 6px;

                &:hover {
                    opacity: 0.6;
                }
            }
        }
        .help {
            @include span-columns(11 of 11);
            @include list-inline;

            .help-title {
                padding-right: 12px;
            }

            .info {
                cursor: pointer;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            position: absolute;
            bottom: 12px;
            left: 0;
            margin: 0;
            border-top: 1px solid $border-color;

            font-size: 0.8em;
            line-height: 0.8em;

            & > li {
                font-weight: 800;
                color: $color;

                padding: 2px 10px 3px 12px;
                border-right: 1px solid $border-color;

                &:last-child {
                    border-right: none;
                }
            }
        }
    }
}

@include smart-area;
