@import "core/base";
@import "rise/base";

@import "global";

@import "rise/layout/layout";

.modal-content {
    border-radius: 0;
}

/* CSS declarations go here */
.custom-error .help-block, .custom-error .control-label, .custom-error .radio, .custom-error .checkbox, .custom-error .radio-inline, .custom-error .checkbox-inline, .custom-error.radio label, .custom-error.checkbox label, .custom-error.radio-inline label, .custom-error.checkbox-inline label {
    color: #a94442;
}

.custom-error .form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.has-error textarea {
    border-color: #a94442;
}


/* Move to replay.css or something */

.description {
    min-height: 30px;
    overflow: hidden;
}

.closed {
    height: 30px;
    display: block !important;
}