<template name="ReplayNew">
  {{ #autoForm collection="Rise.Replays" id="replay-new-form" type="insert"}}
    <fieldset>
      {{> afQuickField name='video_id' }}
      {{> afFormGroup name='meta_information.general.champion' }}
      {{> afFormGroup name='meta_information.general.matchup' }}
      {{> afFormGroup name='meta_information.general.lane' }}
      {{> afFormGroup name='meta_information.specific.kda' }}
      {{> afQuickField name='description' }}
      {{> afQuickField name='duration' }}
      {{> afQuickField name='patch' }}
      {{> afQuickField name='victory' }}
      {{> afQuickField name='replay_file' }}
    </fieldset>
  {{ /autoForm }}

  {{ > ReplayShow newReplay }}
</template>
