<template name="ReplayTile">
  <a class="replay-tile" href={{pathFor route="replay-show"}}>
    <div class="tile-title">
      <img src="{{ characterPicture champion }}" title="{{ champion }}" alt="{{ champion }}"> x <img src="{{ characterPicture matchup }}" title="{{ matchup }}" alt="{{ matchup }}">
      <span class="result">{{ result }}</span>
    </div>
    <div class="tile-info">
      <span class="analyses-count">
        <span class="glyphicon glyphicon-comment"></span>
        <strong>{{ analysesCount }}</strong> analyses
      </span>
      <span class="time-ago">
        {{ TimeAgoInWords this }}
      </span>
    </div>
  </a>
</template>
